@page
@model Homework5.Pages.MatchResultsModel
@{
}
<form id="matchResultsForm" method="get">
    <label for="playerId">Player ID: </label>
    <input type="number" id="playerId" name="playerId" />
    <button type="submit"> Get Match Results</button>
</form>


<div id="MatchResultsResult">

</div>